<div class="container top50">

  <div class="row well">
    <div class="col-xs-6 col-xs-offset-3  col-md-offset-4">
      <h1>Choose an action</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <a routerLink="/query">
        <button type="button" class="btn btn-primary"> Query</button>
      </a>
    </div>

    <div class="col-xs-4 col-xs-offset-2">
      <a routerLink="/reports">
        <button type="button" class="btn btn-primary"> Reports</button>
      </a>
    </div>
  </div>

</div>
